.login-container {
  background-color: #ffffff;
  margin-top: 100px;
  padding:40px;
  width:600px;
  margin: 0 auto;
}


.login-container a {
  color: #00C5E0;
}

.bg-login {
  background-image:url("https://images.unsplash.com/photo-1529764002524-49fd6db4130f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  padding: 100px;
}


.bg-signup {
  background-image:url("https://images.unsplash.com/photo-1541612638194-4cde9f258866?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1296&q=60");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  padding: 100px;
}
