.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-pets {
  background-color:#00C5E0;
  padding:10px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.btn-pets:hover {
  text-decoration: none;
  color:#ffffff;
  opacity: 0.9;
  transition: 0.3s;
}
